{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Blogs Tagged with "{{ tag_name }}"</h1>
    
    {% if object_list %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for blog in object_list %}
                <div class="bg-white dark:bg-neutral-800 p-4 rounded-lg shadow-lg">
                    <h2 class="text-xl font-semibold">{{ blog.title }}</h2>
                    <p class="text-gray-600 dark:text-neutral-300">{{ blog.summary }}</p>
<a href="{% url 'blog_post' blog.created_at.year blog.created_at.month blog.created_at.day blog.slug %}" class="text-blue-500 hover:underline">Read more</a>


                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-600 dark:text-neutral-300">No blogs found for this tag.</p>
    {% endif %}
{% endblock %}
